.header-img {
    background-image: url(./images/header-bg.svg);
    background-size: 100%;
}

.info {
    list-style: none;
}

.footer {
    background-image: url(./images/footer-bg.svg);
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: 120% 96%;
}